<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
<style type="text/css">
body { background-color: #ecf9f9;
       background-image: url("/assets/back.png");
       font-family: Futura, Segoe UI, Helvetica;
       color: #888888;}
p {
    font-family: Futura, Segoe UI, Helvetica;
    color: #888888;
    text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
}
h1 {background-image: url("/assets/back.png");
padding-right: 100px;}
</style>
  <body>
    <h1>
       <img src="/assets/logo.png"/>
    </h1>
    <div class="container">
      <br/>
      <p>This is our help page. You guys can change some of this text later if needed.</p>
      <p>To use the app, you can enter in the number of rooms and either an address or number of minutes walking to campus. You will get recommendations based on what you enter.

      If you enter in a price also, the app will tell you if that price is worth it based on what other people are paying for their apartments.</p>
      <p>Whether or not your entry is worth it is calculated based on a database filled with apartments all over Evanston.</p>
      </br></br>
      <a href = "home.html"><img src="/assets/backbutton.png" /></a>
      </br></br>
    </div>
  </body>
</html>